# MongoDB Atlas Configuration
# Masukkan MongoDB Connection String Anda di sini
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/?retryWrites=true&w=majority&appName=<appName>

# Konfigurasi Database (Koleksi spesifik untuk memisahkan log deteksi dan journal user)
MONGODB_DB_NAME=pcd_tubes_db
MONGODB_COLLECTION_LOGS=detection_logs
MONGODB_COLLECTION_JOURNAL=mood_journal

# Konfigurasi App (Opsional, untuk keamanan API dan mode environment)
APP_ENV=development
# APP_API_KEY=your_secret_api_key_here